@import "./../../style/colors.scss";

.welcome{
  width: 30%;
  margin:auto;
  padding: 10px;
  font-size: 15px;
}

.line{
  color: $bar;
}

.YCombinator{
  background-image: url("./../../files/YCombinator.gif");
  height: 100px;
  width: 500px;

}
