@import '../../../style/colors';

.menu-bar{
  height: 20px;
  background: $bar;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.menu-options{
  width: 30%;
  display: flex;
  justify-content: space-around;

}

.menu-login{
  width: 7%;
  display: flex;
  justify-content: space-around;

}

a{
  text-decoration: none;
}

.ylogo{
  background-image: url("./../../../files/Y_Logo.gif");
  width: 13px;
  height: 13px;
  padding: 3px;
  border: 1px white solid;
}