@import '../../style/colors.scss';

.menu-bar{
  height: 4px;
  background: $bar;
  display: flex;
  align-items: center;
  justify-content: space-between;

}


.menu-options{
  width: 46%;
  display: flex;
  justify-content: space-around;

}

.menu-login{

}